
<div class="container-fluid">
	<!-- Placement <%=@placement.id%></br>
	Option <%=@placement.option%></br>

	Video: <%=@video.volume_hash.to_s%>
	<hr>
	<%=@video.volume_hash["video_assets"].class%>
	<hr>
	<%=@embed_codes.to_s%>
	 -->
	

	<%if @placement.option == 1 %>
		
		<%= render "videos/onceux"%>
	<%end%>


	<%if @placement.option == 2 %>
		
		<%= render "videos/youtube"%>
	<%end%>

	<%if @placement.option == 3 %>
		
		<%= render "videos/ooyala"%>
	<%end%>

	<%if @placement.option == 4 %>
	
		<%= render "videos/ooyala_cine1"%>
	<%end%>
	<%if @placement.option == 5 %>
	
		<%= render "videos/once_cine"%>
	<%end%>
	<%if @placement.option == 6 %>
		
		<%= render "videos/perform_cine1"%>
	<%end%>
	<%if @placement.option == 7 %>
	
		<%= render "videos/custom_html5_1"%>
	<%end%>
	<%if @placement.option == 8 %>

		<%= render "videos/ted"%>
	<%end%>
	<%if @placement.option == 9 %>

		<%= render "videos/jwplayer1"%>
	<%end%>

</div>