
<div class="container-fluid">
	<!-- Placement <%=@placement.id%></br>
	Option <%=@placement.option%></br>

	Video: <%=@video.volume_hash.to_s%>
	<hr>
	<%=@video.volume_hash["video_assets"].class%>
	<hr>
	<%=@embed_codes.to_s%>
	 -->
	

	<%if @placement.option == 1 %>
		<%@video.once_id = @embed_codes["BrightcoveAsset"]%>
		<%= render "videos/onceux"%>
	<%end%>


	<%if @placement.option == 2 %>
		<%@video.youtube_id = @embed_codes["YoutubeAsset"]%>
		<%= render "videos/youtube"%>
	<%end%>

	<%if @placement.option == 3 %>
		<%@video.ooyala_id = @embed_codes["OoyalaAsset"]%>
		<%= render "videos/ooyala"%>
	<%end%>

	<%if @placement.option == 4 %>
		<%@video.ooyala_id = @embed_codes["OoyalaAsset"]%>
		<%= render "videos/ooyala_cine1"%>
	<%end%>
	<%if @placement.option == 5 %>
		<%@video.once_id = @embed_codes["BrightcoveAsset"]%>
		<%= render "videos/once_cine"%>
	<%end%>
	<%if @placement.option == 6 %>
		<%@video.once_id = @embed_codes["BrightcoveAsset"]%>
		<%= render "videos/perform_cine1"%>
	<%end%>
	<%if @placement.option == 7 %>
		<%@video.once_id = @embed_codes["BrightcoveAsset"]%>
		<%= render "videos/custom_html5_1"%>
	<%end%>
	<%if @placement.option == 8 %>
		<%@video.once_id = @embed_codes["BrightcoveAsset"]%>
		<%= render "videos/ted"%>
	<%end%>

</div>