<h2><%=@video.volume_hash['title_short']%></h2>

Volume ID = <%=@video.volume_id%> | CurrentUser: <%=@user_now.email%> | Created By <%=@user_stored.email%>


<ul class="list-group">
<% @video.volume_hash["video_assets"].each do |assets|%>
	<%type = assets["type"]%>
	<%code = assets["embed_code"]%>
	<%if type == "YoutubeAsset"%>
		<%@video.youtube_id = code%>
		 <li class="list-group-item">
		 <h3>Youtube</h3>
		<%= render "videos/youtube"%></li>
	<%end%>
	<%if type == "OoyalaAsset"%>
		<%@video.ooyala_id = code%>
		<li class="list-group-item">
		<h3>Ooyala</h3>
		<%= render "videos/ooyala"%></li>
	<%end%>
	<%if type == "BrightcoveAsset"%>
		<%@video.once_id = code%><br>
		<li class="list-group-item">
		<h3>Brightcove</h3>
		<%= render "videos/onceux"%></li>
	<%end%>
<%end%>
</ul>







