<h1><%=@page.title%></h1>
<%= link_to "+ Placement", new_page_placement_path(@page), class: "btn btn-small btn-success" %><br>

	
	<%@placements.each do |placement|%>
		<%=placement.id%>
		<div class="container" >
			
			<div class="row">
				<div class="col-md5">

					<div class="row">
						<%= link_to 'Destroy', placement_path(placement.id), :confirm => 'Are you sure?',
            :method => :delete %>
						
					</div>
					<div class="row">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="<%=placement_path(placement.id)%>" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>
	<%end%>



<!-- # <%if @placements.count > 0 %>
# 	<%@placements.each do |p|%>
# 		<%=p.option%> | <%=p.video_id%></br>
		
# 	<%end%>


# 	<%@video_placements.each do |placement|%>

# 	PlacementID <%=placement[:placement_id]%> | VideoID:<%=placement[:video_id]%> | Option:<%=placement[:option]%></br>
# 	Video data: <%=placement[:video_data].class%><%=placement[:video_data].to_s%></br>

# 	<%end%>

# <%end%>


# </br>

# <%=@dump%>--> 