<!DOCTYPE html>
<html>
<head>
  <title>VideoPreview</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class = "container">
    

    <!-- Nav Bar -->
    
    <div class="row">
      <nav class="navbar navbar-default">
       
        <div class='col-md-2'>
          <p class="navbar-text">Video Preview</p>
        </div>
        <div class='col-md-1'>
         <%= link_to "Videos", videos_path, class: "btn btn-small btn-success" %>
        </div>
    
        <div class='col-md-3'>

          <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "btn btn-small btn-success" %>
          <%else%>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-small btn-success" %>
          <%end%>
         </div> 
      </nav>
    </div>
    <!-- end nav bar -->

  </div>

    <!-- Fixed container for flash messages and yield -->
    <div class="container">
      <div class = "row">
        
     

        <div class="col-md-10">
          <% flash.each do |key, value| %>
              <div class="alert" alert-"<%= key %>"><%= value %></div>
          <% end %>
      

          <%= yield %>
        </div>

    </div>
  </div>

</body>
</html>
