<!DOCTYPE html>
<html>
<head>
  <title>VideoPreview</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- JW Player -->
  <script src="http://content.jwplatform.com/libraries/fzw9avGq.js">
</script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/hymnal'%>
</head>
<body>

  <div class = "container">
    <!-- Nav Bar -->
    <%= render 'layouts/navbar' unless @disable_nav %>
    <!-- end nav bar -->

  </div>

    <!-- Fixed container for flash messages and yield -->
    <div class="container">
      <div class = "row">
        
     

        <div class="col-md-10">
          <% flash.each do |key, value| %>
              <div class="alert" alert-"<%= key %>"><%= value %></div>
          <% end %>
      
          <!-- yield goes within a container unless disabled -->
          <%unless @disable_container%>
            <%= yield %>
          <%end%>
        </div>
    </div>
  </div>
  <!-- yield goes outside of container if container disabled, for full window iframe -->
  <%if @disable_container%>
    <%= yield %>
  <%end%>
  

</body>
</html>
